@charset "utf-8";

html {
    font-size: 100%;
}

body {
    color: #121212;
    font-size: 0.9rem;
    line-height: 1.7;
    font-family: monospace;
}

a {
    display: block;
    font-size: 1.07rem;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(165, 165, 165);
    transform: translateY(0px);
    transition: all 1s;
}

a:hover {
    transform: translateY(-5px);
    color: rgb(218, 0, 0);
}

li {
    list-style: none;
}

/*--一部省略--*/
/*--固定背景の設定--*/
.img {
    position: relative;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

/*--固定背景01--*/
.img.img1 {
    background-image: url('../img/cupcakes-973033_1920.jpg');
}

/*--固定背景02--*/
.img.img2 {
    background-image: url('../img/coffee-beans-2258839_1920.jpg');
}

/*--固定背景03--*/
.img.img3 {
    background-image: url('../img/cafe-3537801_1920.jpg');
}

.title {
    font-size: 100px;
    color: #121212;
}

.sub-title {
    font-size: 7em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    text-shadow: 0 0 8px #fff;
}

.content-title {
    font-size: 2.4rem;
    border-bottom: 6px solid rgb(218, 0, 0);
    width: fit-content;
    margin: 50px auto;
}

#header {
    background-image: url("../img/neon-sign-4343663_1920.jpg");
    background-size: cover;
    height: 120vh;
    text-align: center;
    z-index: 10;
    border-bottom: 20px solid #fff;
}

#header #navi {
    text-align: right;
}

#header ul {
    display: inline-flex;
    margin: 20px 30px;
}

#header li {
    margin: 0 15px;
}

#menu {
    margin-top: 10px;
    width: 100%;
}

#menu .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding: 100px 0;
}

#menu .menu-text {
    width: 40%;
    z-index: 10;
    padding: 0 50px;
}

.line {
    width: 1px;
    height: 100%;
    border-left: 1px solid #000;
}

#menu .menu-item {
    width: 40%;
    padding: 0 50px;
}

#menu dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menu dt {
    width: 70%;
    border-bottom: dotted 1px #121212;
    margin-bottom: 20px;
}

#menu dd {
    width: fit-content;
    padding-top: 10px;
    padding-left: 20px;
}

#about {
    padding: 0 40px;
    height: 120vh;
    line-height: 2.25rem;
}

#about .about-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#about a {
    color: #000;
    transform: translateY(0);
}

#about ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

#about li {
    width: 40%;
    padding: 20px;
    text-align: left;
}

#location {
    text-align: center;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

#location iframe {
    width: 100%;
    padding-bottom: 30px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

#location p {
    text-align: left;
    margin-bottom: 2em;
}

#footer {
    text-align: center;
    font-size: 0.65rem;
    padding: 20px;
}

@media screen and (max-width:750px) {
    html {
        font-size: 10px;
    }

    #header ul {
        display: inline-flex;
        margin: 0;
        margin-top: 10px;
    }

    #header li {
        margin: 0 10px;
    }

    #menu .flex{
        align-items:flex-start;
        height: fit-content;
    }

    #menu .menu-text {
        width: 40%;
        z-index: 10;
        padding: 0;
    }

    .line {
        margin: 10px;
        height: fit-content;
    }

    #menu .menu-item {
        width: 40%;
        padding: 0;
    }

    #menu dt {
        margin: 0;
    }

    #menu dd {
        padding: 0;
    }

    #about {
        padding: 0;
    }

    #about ul {
        margin-bottom: 30px;
    }

    #about li {
        padding: 15px;
    }
}